@font-face {
    font-family: 'ProdigySans';
    src: url('../assets/fonts/prodigy-sans/ProdigySans-Regular.ttf');    
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProdigySansBold';
    src: url('../assets/fonts/prodigy-sans/ProdigySans-Bold.ttf');    
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CurrentRegular';
    src: url('../assets/fonts/current-regular/FontsFree-Net-Current-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}